.idea
target
node_modules
.target
.vagrant
*.log
*.lock
yamllint-*

# terraform
.terraform
.terraform.lock*
*.tfstate*
tfplan
.bitwarden*
src/main/github/tmp-repos

# secrets
*.token
*.pass
*.user
*.secret
