{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "VERSION=${nextRelease.version} && sed -i \"s/version: .*/version: $VERSION/\" docs/antora.yml"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "docs/antora.yml"
        ],
        "message": "refactor(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
